.imglist {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: 18px;
    justify-items: center; 
  }
  

  img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 8px;
  }
  