/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #eb7729;
}

.title h1 {
  font-size: 24px;
  color: #333;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.result {
  width: 20%;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #eb7729;
  text-align: center;
  
}

.result p {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.animalName {
  width: 30%;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #eb7729;
  text-align: center;
}

.animalName p {
  font-size: 18px;
  font-weight: bold;
  color: orange;
}

.animalPhotos {
  width: 50%;
  background-color: #fefefe;
  border: 1px solid #eb7729;
}

.animalPhotos img {
  width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}


